@font-face {
    font-family: 'cardo-bold';
    src: url(../font/Cardo-Bold.ttf);
}
body {
    font-family: 'Cardo', serif;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #232323;
    line-height: 26px;
}
/*Page TURIST */
h1 {
    font-family: 'cardo-bold';
    font-size: 80px;
    letter-spacing: -3.5px;
    line-height: 1.1;
    margin-bottom: 85px;
}
.page-turist {
    background-color: #e9e7e7;
    margin-top: 0px;
}
.Turist-text {
    padding: 20px 20px 0px 20px ;
    width: 700px;
    border-top: 3px #232323 solid;
    margin-right: -60px;
}
.Turist-text-end {
    padding: 20px 20px 20px 20px ;
    width: 700px;
    border-top: 3px #232323 solid;
    margin-right: -60px;
    border-bottom: 3px #232323 solid;;
}
.btn-flex-turist {
    display: flex;
    align-items: baseline;
}
.wrap {
    max-width: 1200px;
    margin: 0 auto;
}
.flex-page-turist {
    display: flex;
}
.turist-img {
    margin-left: 150px;
    width: 451px;
    height: 640px; 
}
/* Page TURIST END */

/* PAGE SAY */
.Zagolovok2 {
    text-align: center;
    margin-top: 240px;
}
.page-say {
    background-color: #e9e7e7;
}
a {
    text-decoration: none;
}
.wrapper {
    margin: 0 auto;
    max-width: 1200px;
}
.have-to-say {
    background-color: #e9e7e7;
    padding: 200px 200px;
}
.slider {
    position: relative;
    width: 1200px;
    margin-left: -200px;
}
.slider__item {
    padding: 49px 20px;
    border: 3px #232323 solid;
    border-radius: 10px;
    max-width: 345px;
}
.person-icon {
    background-image: url(../img/person-icon.png);
    width: 136px;
    height: 182px;
    padding: 0 0;
    margin: 23px auto 0 auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
}
.h1-customer {
    text-align: center;
    font-size: 25px;
    letter-spacing: -0.5px;
    margin-top: -2px;
}
.lorem {
    font-size: 16px;
    text-align: center;
    letter-spacing: -0.5px;
    line-height: 20px;
    font-weight: 400;
}

/* SLICK */
.slick-list {
    overflow: hidden;
}
.slick-track {
    display: flex;
    align-items: flex-start;
    gap: 17px;
}
.slider .slick-arrow {
    position: absolute;
    top: 50%;
    margin: -38px 0 0 0;
    z-index: 10;
    font-size: 0;
    border: none;
    border-radius: 10px;
}
.slider .slick-arrow.slick-prev{
    left: -46px;
    background-image: url(../img/btn-left.png);
    width: 86px;
    height: 76px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
} 
.slider .slick-arrow.slick-next{
    right: -46px;
    background-image: url(../img/btn-right.png);
    width: 86px;
    height: 76px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
} 
/*SLICK END */
.scrible-up {
    margin-bottom: -436px;
    margin-left: -396px;
    width: 500px;

}
.scrible-down {
    margin-bottom: -89px;
    margin-left: 698px;
    width: 698px;
}


/*PAGE SAY END */
@media (max-width: 770px) {
    h1 {
        font-size: 60px;
        text-align: center;
    }
    .Turist-text {
        margin-right: -15px;
        width: 443px;
    }
    .Turist-text-end {
        margin-right: -15px;
        width: 443px;

    }
    .scrible-up {
        width: 250px;
        margin-bottom: -238px;
        margin-left: -138px;
    }
    .turist-img {
        margin-left: 24px;
        width: 246px;
        height: 370px;
    }
    .slider .slick-arrow.slick-prev {
        left: 0px;
    }
    .slider .slick-arrow.slick-next {
        right: 806px;
    }
}